html,
body {
    height: 100%;
    width: 100%;
}

.todo {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 10px;
    grid-auto-rows: minmax(auto);
}

caption{
    font-size: x-large;
}

.tabla {
    width: 100%;
    height: 100%;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    padding: 5px;
}

.tabla th {
    border: 1px solid #C0C0C0;
    padding: 5px;
    background: #F0F0F0;
    font-size: 14px;
}

.tabla td {
    border: 1px solid #C0C0C0;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}
td button {
    background-color: #ffffff00;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 2px;
    border: 1px solid #e8241a ;
    color: #e8241a;
}

.tablaProcesos {
    width: 100%;
    grid-column: 1;
}

.tablaResultados {
    width: 100%;
    grid-column: 2;
}

.form{
    margin: 30px 0px 0px 0px;
    grid-row: 3;
    background-color: #f2ee07ab;
    width: auto;
    
}

.form button{
    margin: 0px 2px 0px 15px;
}

.formDispacher{
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 10px;
    grid-auto-rows: minmax(auto);

}

.contendorModificarProceso {
    grid-row: 2;
}

.grafico {
    margin: 30px 0px 0px 0px;
    grid-column: 1 / 3;
    grid-row: 4;
    width: 100%;
    height: auto;
}

.contenedorBoton{
    grid-row: 5;
}

.contenedorGrafico {
    display: grid;
    grid-auto-rows: 25px;
    gap: 5px;
}

.contenedorGrafico .proceso {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-auto-columns: 20px;
}

.espera {
    border: 2px solid #000000;
    background-color: rgb(213, 209, 209);
    max-width: 50px;
    min-width: 25px;
}

.ejecucion {
    border: 2px solid #000000;
    background-color: green;
    max-width: 50px;
    min-width: 25px;
}

.vacio {
    border: 2px solid #cbc7c7;
    max-width: 50px;
    min-width: 25px;
}

.bloqueado {
    border: 2px solid #000000;
    background-color: red;
    max-width: 50px;
    min-width: 25px;
}

.final {
    border: 2px solid #cbc7c7;
    max-width: 50px;
    min-width: 25px;
}

.dispacher{
    border: 2px solid #000000;
    background-color: rgb(61, 224, 233);
    max-width: 50px;
    min-width: 25px;
}

/*CSS PARA EL NAV*/

.wrapper {
    z-index: 2;
    position: fixed;
    top: 0;
    /*left: -100%;*/
    right: -100%;
    height: 100%;
    width: 100%;
    background: #000;
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
    transition: all 0.6s ease-in-out;
}

#active:checked~.wrapper {
    /*left: 0;*/
    right: 0;
}

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 20px;
    /*left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    /*color: #fff;*/
    /*background: linear-gradient(90deg, #f92c78, #4114a1);*/
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
    transition: all 0.3s ease-in-out;
}

.menu-btn span,
.menu-btn:before,
.menu-btn:after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 30%;
    width: 40%;
    border-bottom: 2px solid #000;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.menu-btn:before {
    transform: translateY(-8px);
}

.menu-btn:after {
    transform: translateY(8px);
}


.close {
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: background .6s;
}

/* closing animation */
#active:checked+.menu-btn span {
    transform: scaleX(0);
}

#active:checked+.menu-btn:before {
    transform: rotate(45deg);
    border-color: #fff;
}

#active:checked+.menu-btn:after {
    transform: rotate(-45deg);
    border-color: #fff;
}

.wrapper ul {
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.wrapper ul li {
    height: 10%;
    margin: 15px 0;
}

.wrapper ul li a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 50px;
    position: relative;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper ul li a:after {
    position: absolute;
    content: "";
    background: #fff;
    /*background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
    /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
}

.wrapper ul li a:hover:after {
    transform: scaleY(1);
}

.wrapper ul li a:hover {
    color: #1a73e8;
}

input[type="checkbox"] {
    display: none;
}

.content {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-align: center;
    width: 100%;
    color: #202020;
}

.content .title {
    font-size: 40px;
    font-weight: 700;
}

.content p {
    font-size: 35px;
    font-weight: 600;
}

#active:checked~.wrapper ul li a {
    opacity: 1;
}

.wrapper ul li a {
    transition: opacity 1.2s, transform 1.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100px);
}

#active:checked~.wrapper ul li a {
    transform: none;
    transition-timing-function: ease, cubic-bezier(.1, 1.3, .3, 1);
    /* easeOutBackを緩めた感じ */
    transition-delay: .6s;
    transform: translateX(-100px);
}